<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://cxf.apache.org/core
		   http://cxf.apache.org/schemas/core.xsd
		   http://cxf.apache.org/jaxws 
		   http://cxf.apache.org/schemas/jaxws.xsd
		   http://cxf.apache.org/jaxrs
		   http://cxf.apache.org/schemas/jaxrs.xsd
           ">
	<context:annotation-config />
	<context:component-scan base-package="com.yz" />
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


	  <bean id="dataSource" name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="jdbcUrl" value="jdbc:sqlserver://61.147.198.154:1433;DatabaseName=jsju"/>
        <property name="user" value="sa"/>
        <property name="password" value="Yixsjsj!@#154"/>
       
         <!--<property name="jdbcUrl" value="jdbc:sqlserver://192.168.1.249:1433;DatabaseName=jsju"/>
        <property name="user" value="sa"/>
        <property name="password" value="onecloud!2016"/> --> 
        <property name="maxPoolSize" value="20"/>
        <property name="minPoolSize" value="5"/>
        <!-- 初始化建立的连接数 -->
        <property name="initialPoolSize" value="10"/>
        <!-- 最大空闲时间，120秒内未被使用的连接将被丢弃 -->
        <property name="maxIdleTime" value="120"/>
        <!-- 当连接池耗尽，且未达到最大连接数时，一次获取的连接数 -->
        <property name="acquireIncrement" value="2"/>
        <!-- 空闲检查时间间隔， 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
        <property name="idleConnectionTestPeriod" value="60"/>
    </bean>
	
	
	
	



	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.yz.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut id="bussinessService"
			expression="execution(public * com.yz.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService"
			advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="exists" read-only="true" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="process*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- webservice 
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
-->

	<!-- 这里的地址很重要，客户端需要通过这个地址来访问WebService
		<jaxrs:server id="restServiceContainer" address="/rest">
		<jaxrs:serviceBeans>
		<ref bean="userservice"/>
		<ref bean="sysconfservice"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
		<entry key="json" value="application/json" />
		<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:languageMappings>
		<entry key="en" value="en-gb"/>  
		</jaxrs:languageMappings>
		</jaxrs:server>
	-->
</beans>